* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    height: 600px;
    background-image: url('../img/bg-container.jpg');
    background-repeat: no-repeat;
}

.section {
    width: 50%;
    height: 450px;
    margin: auto;
    padding: 70px 69px;
}

.section .title {
    width: 100%;
    background-color: rgba(53, 51, 51, 0.8);
    color: white;
    height: 40px;
    padding-top: 10px;
    text-align: center;
}

.section .start {
    width: 50%;
    background-color: rgba(236, 211, 211, 0.8);
    color: blue;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    float: left;
}

.section .stop {
    width: 50%;
    background-color: rgba(187, 231, 241, 0.8);
    color: blue;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    float: left;
}

.section .minute {
    width: 50%;
    background-color: rgba(245, 159, 159, 0.8);
    color: rgb(38, 38, 49);
    height: 40px;
    padding-top: 10px;
    text-align: center;
    float: left;
}

.section .reil {
    width: 50%;
    background-color: rgba(49, 206, 245, 0.8);
    color: rgb(38, 38, 49);
    height: 40px;
    padding-top: 10px;
    text-align: center;
    float: left;
}

.section .btb-start {
    width: 100%;
    background-color: rgba(228, 224, 224, 0.8);
    color: blue;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    float: left;
    display: block;
}

.section .btb-stop {
    width: 100%;
    background-color: rgba(228, 224, 224, 0.8);
    color: blue;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    float: left;
    display: none;
}

.section .btb-clear {
    width: 100%;
    background-color: rgba(228, 224, 224, 0.8);
    color: blue;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    float: left;
    display: none;
}

.section .timing {
    width: 100%;
    background-color: rgba(135, 42, 163, 0.8);
    color: white;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    float: left;
}